
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  max-width: 1200px;

  margin-left: 350px;
  margin-right: 350px;
  /* line-height: normal; */

/* Header */
}
.intro {
  width: 100%;
  height: 100vh;
}
header {

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.header-1 {
display: flex;
flex-direction: row;
justify-content: space-between;
border-bottom: lightgrey 1px solid;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
/* header::after {
  content: "";
  display: block;
  width: 500px;
  height: 5px;
  border-bottom: solid lightgrey;
} */
.react-logo-1 {
display: flex;
margin: 25px 0;
}
.ul-header {
  display: flex;
align-items: baseline;



}

.ul-header li {
  display: flex;
  margin: 5px 20px;


  /* flex-basis: 150px;
  flex-direction: row;
  list-style-type:none;
  justify-content: space-between;
  align-items: baseline; */


}
.blue-font-1 {
  color:  rgb(37, 99, 255);
}
.try-for-free {
   background-color: rgb(37, 99, 255);
   border: none;
   color: white;
   padding: 13px 13px;
   text-align: center;
   font-size: 16px;
   border-radius: 5px;
   max-width: 100px;
   text-decoration: none;
}
a {
  text-decoration: none;
}
.flex-general-1 h1 {
  font-size: 40px;
  font-weight: bold;
}
/*                          */
/*                          */
.flex-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-general-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 400px;

}
.flexbox-img-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  align-self: flex-end;
}
.flex
.flex-container-1 span {

}
/*                          */
/*                          */
.companies-1 {
  text-align: center;
}
.companies-1 img {
  padding: 0 15px;
}
/* Main */
